<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>ABM Prueba</title>
  </head>
  <body>
    <h1 class="alert alert-warning text-center">APLICACION ABM SIMPLE</h1>

    <div class="container mt-3">
        
        {% for message in messages %}
          <p class='alert alert-success mt-3'> {{ message }} </p> 
        {% endfor %}
        

        {% if articulo %}

        <form method="POST" action="{% url 'actualizar_articulo' articulo.id %}" autocomplete="off">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" value="{{articulo.nombre}}">
          </div>

          <div class="form-group mb-3">
              <label>Descripción</label>
              <input type="text" class="form-control" name="descripcion" value="{{articulo.descripcion}}">
            </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
          </div>
      </form>

        {% else %}
        <form method="POST" action="{% url 'guardar_articulo' %}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre" placeholder="Ingrese nombre">
            </div>

            <div class="form-group mb-3">
                <label>Descripción</label>
                <input type="text" class="form-control" name="descripcion" placeholder="Ingrese descripción">
              </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-success">GUARDAR</button>
            </div>
        </form>

        {% endif %}
        <div class="mt-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for a in articulos %}
              <tr>
                <td>{{ a.nombre }}</td>
                <td>{{ a.descripcion }}</td>
                <td>
                    <a href="{% url 'editar_articulo' a.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_articulo' a.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
  </body>
</html>
